body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.n-bar {
    background-color: #191818;
    padding: 10px;
    text-align: center;
}
.n-item {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 5px;
}
.n-color {
    color: #fff;
    font-size: 20px;
}

.n-current {
    color : rgb(96, 228, 13);
    font-size : 20px;
}
.lead {
    padding-bottom: 12px;
    font-size: 28px;
}
.quiz-pad{
    padding-top: 16px;
}

.bot-pad{
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
}
.top-pad{
    padding-bottom: 20px;
}

img{
    border: 5px solid black;
}

button{
    margin-top: 10px;
}