body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.n-bar {
    background-color: #191818;
    padding: 10px;
    text-align: center;
}
.n-item {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 5px;
}
.n-color {
    color: #fff;
    font-size: 20px;
}

.n-current {
    color : rgb(96, 228, 13);
    font-size : 20px;
}
.lead {
    padding-bottom: 36px;
    font-size: 28px;
}
.quiz-pad{
    padding-top: 16px;
}

.bot-pad{
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
}
.top-pad{
    padding-bottom: 20px;
}

img{
    border-radius: 10px;
    border: 5px solid black;
}
img.no-border{
    border: none;
}
img.score-img{
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    max-width: 200px;
    margin-left: 24px;
    margin-right: 24px;
}

button{
    margin-top: 10px;
}
.max-h {
    max-height: 300px;
    width: 500px;
}
.page-nav-pad{
    padding-top: 157px; /* Adjust the padding as font changes */
}

.toggleButton {
    font-size: 18px; 
}

.xpad {
    margin-left:16px;
    margin-right: 16px;
    margin-top: 60px;
}

.def-box {
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 24px;
    font-size: 20px;
    padding-bottom: 24px;
}
.basic-nav-pad {
    padding-top: 200px!important;
}

.new-pad {
    padding-top: 72px;
}
.trade-pad {
    padding-top: 60px;
}