.content-header {
  margin-bottom: 20px;
  padding: 40px;
  padding-bottom: 0;
  text-align: center;
  font-size: 40px;
}
.some-text {
  font-size: 20px;
  text-align: center;
  padding: 40px 90px;
  padding-bottom: 60px;
}
.more-text {
    font-size: 20px;
    text-align: center;
    padding: 6px 10px;
}
.center {
    justify-content: center;
    text-align: center;
}

.some-pad {
    padding-top: 50px;
}
.more-pad {
    /* to align buttons */
    padding-bottom: 84px;
}