.content-header {
  margin-bottom: 20px;
  padding: 40px;
  padding-bottom: 0;
  text-align: center;
  font-size: 40px;
}
.some-text {
  font-size: 20px;
  text-align: center;
  padding: 40px 90px;
  padding-bottom: 60px;
}
.more-text {
    font-size: 20px;
    text-align: center;
    padding: 6px 10px;
}
.center {
    justify-content: center;
    text-align: center;
}

.some-pad {
    padding-top: 50px;
}
.more-pad {
    /* to align buttons */
    padding-bottom: 84px;
}

.bordered {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.bull {
    display: flex;
    align-items: center;
    background-color: rgb(42, 164, 42);
    text-align: center;
    justify-content: center;
    height: 225px;
}
.bear {
    display: flex;
    align-items: center;
    background-color: rgb(237, 77, 77);
    text-align: center;
    justify-content: center;
    height: 225px;
}
.big {
    font-size: 32px;
}
.error {
    font-size: 20px;
}
#add-after-here {
    height: 66px;
}