{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', filename='learn.js') }}"></script>
<script>
    let id = {{ id }};
</script>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ lesson['image'] }}" class="max-h" alt="{{ lesson['title'] }}">
            <div class="page-nav-pad"></div>
        </div>
        <div class="col-md-6">
            <h1>{{ lesson['title'] }}</h1>
            <p>{{ lesson['description'] }}</p>
            
            <!-- Bullish Section -->
            {% if lesson['bullish_subtitle'] %}
            <h4 class="mt-3" style="color: green;">{{ lesson['bullish_subtitle'] }}</h4>
            <p>{{ lesson['bullish_description'] }}</p>
            <!-- Learn More Button for Bullish -->
            {% if lesson['bullish_additional_info'] %}
            <button class="btn btn-link btn-dark text-white" type="button" data-toggle="collapse" data-target="#bullishCollapse" aria-expanded="false" aria-controls="bullishCollapse">
                Learn More <span class="fa fa-caret-down"></span>
            </button>
        
            <div class="collapse" id="bullishCollapse">
                <div class="card card-body">
                    <!-- Additional content for Bullish -->
                    {{ lesson['bullish_additional_info'] }}
                </div>
            </div>
            {% endif %}
            {% endif %}
            
            <!-- Bearish Section -->
            {% if lesson['bearish_subtitle'] %}
            <h4 class="mt-3" style="color: red;">{{ lesson['bearish_subtitle'] }}</h4>
            <p>{{ lesson['bearish_description'] }}</p>
            <!-- Learn More Button for Bearish -->
            {% if lesson['bearish_additional_info'] %}
            <button class="btn btn-link btn-dark text-white" type="button" data-toggle="collapse" data-target="#bearishCollapse" aria-expanded="false" aria-controls="bearishCollapse">
                Learn More <span class="fa fa-caret-down"></span>
            </button>            
            <div class="collapse" id="bearishCollapse">
                <div class="card card-body">
                    <!-- Additional content for Bearish -->
                    {{ lesson['bearish_additional_info'] }}
                </div>
            </div>
            {% endif %}
            {% endif %}
            
            <!-- Additional content can be added here -->
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-between">
            <li class="page-item">
                {% set next_url = '' %}
                {% if id == 7 %}
                    {% set next_url = url_for('introduction_trade') %}
                {% elif id == 6 %}
                    {% set next_url = url_for('the_basics') %}
                {% elif id == 1 %}
                    {% set next_url = url_for('introduction_chart') %}
                {% elif id > 1 %}
                    {% set next_url = url_for('learn', id=id-1) %}
                {% endif %}
                <button class="btn btn-secondary" onclick="window.location.href='{{ next_url }}'" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </button>
            </li>
            <li>
                <button class="btn btn-success" onclick="window.location.href='{% if id == 6 %}{{ url_for('introduction_trade') }}{% elif id == 12 %}{{ url_for('quiz', id=0) }}{% else %}{{ url_for('learn', id=id+1) }}{% endif %}'" aria-label="Next">
                    <span aria-hidden="true">{% if id == 12 %}Take Quiz{% else %}Next{% endif %} &raquo;</span>
                </button>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
