{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Your Score</h5>
                    <p class="card-text text-center display-4">{{ score }}/7</p>
                    {% if score >= 6 %}
                        <p class="text-center text-success">Congratulations! You have a strong understanding of the chart patterns.</p>
                    {% elif score >= 4 %}
                        <p class="text-center text-warning">Good job! You have a fair understanding of the chart patterns. Keep practicing to improve your skills.</p>
                    {% else %}
                        <p class="text-center text-danger">Don't worry! You can improve your understanding of the chart patterns with more practice and study.</p>
                    {% endif %}
                    {% if incorrect_questions %}
                        <div class="mt-4">
                            <p class="text-center">Questions answered incorrectly:</p>
                            {% for question, correct_answer, image_url, question_url, user_answer in incorrect_questions %}
                                {% if loop.index % 4 == 1 %}
                                    {% if not loop.first %}
                                        </div>
                                    {% endif %}
                                    <div class="row justify-content-center">
                                {% endif %}
                                <div class="text-center top-pad">
                                    <a href="{{ question_url }}">
                                        <img src="{{ image_url }}" alt="{{ question }}" class="img-fluid score-img">
                                    </a>
                                    <div class="mt-3 text-center justify-content-center">
                                        <div style="color: red;">Your Answer:</div>
                                        <div style="max-width: 250px;">{{ user_answer }}</div>
                                        <div class="mt-3" style="color: green;">Correct Answer:</div>
                                        <div style="max-width: 250px;">{{ correct_answer }}</div>
                                    </div>
                                </div>
                                {% if loop.index % 4 == 0 or loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 top-pad">
        <div class="col-md-6 text-center">
            <button class="btn btn-secondary" onclick="window.location.href='{{ url_for('welcome') }}'">Back to Home</button>
        </div>
        <div class="col-md-6 text-center">
            <button class="btn btn-success" onclick="window.location.href='{{ url_for('quiz', id=0) }}'">Retake Quiz</button>
        </div>
    </div>
</div>
{% endblock %}