{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 text-center">
            <h1 class="display-3">PatternTrader</h1>
            <hr class="my-4">
            <!-- <p class="lead">Welcome to PatternTrader Academy! Dive into the essentials of stock trading with our straightforward guides on chart patterns and practical trading strategies. Whether you're a beginner or looking to sharpen your skills, our focused lessons and interactive quizzes are designed to help you navigate the stock market with confidence. Start your journey to smart trading today!</p> -->
            <p class="lead">Start your journey to smart trading today!</p>
            <div class="row text-center bot-pad">
                Discover the basics of stock trading with our easy-to-follow guides on chart patterns and practical trading strategies. Whether you're a beginner or looking to sharpen your skills, learn how to navigate the stock market with confidence.
            </div>
            <a href="/learn/0" class="btn btn-success btn-lg">Begin Learning</a>
        </div>
        <div class="col-md-4 text-center">
            <!-- Image goes here, make sure to link the correct path to your image -->
            <img src="https://th.bing.com/th/id/OIP.DgJnJDgCcG2P85TuJTtWXAHaFA?rs=1&pid=ImgDetMain" alt="Stock Chart" class="img-fluid">
            <div class="quiz-pad">
                <div class="top-pad">Test your knowledge with our interactive quizzes on chart patterns.</div>
                <a href="/quiz/0" class="btn btn-secondary btn-lg">Take a Quiz</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

